* {
	font-family: open-sans, sans-serif;
	margin: 0;
	padding: 0;
}

/* ===============================================================================
header
================================================================================ */
.topo-style-contatos .icon-top {
	float: left;
	color: #545454;
	font-size: 1.563em;
	margin-right: 0.938em;
}
.topo-style-contatos p {
	float: left;
	color: #5E5E5E;
	font-size: 0.875em;
}
	.topo-style-contatos p span {
		color: #DC6133;
		font-size: 1.063em;
		font-weight: bold;
	}
.btn-style {
	float: right;
}
	.btn-style a {
		color: #fff;
		text-decoration: none;
		border-radius: 30px;
		border: 1px solid #DC6133;
		padding: 0.625em 1.563em;
		background-color: #DC6133;
	}
		.btn-style a:hover {
			color: #DC6133;
			background-color: transparent;
		}
	.btn-style  span {
		font-size: 1.000em;
		padding-left: 0.313em;
	}

/* ========= Menu ========= */
.navbar-menu-topo {
	background-color: #DC6133;
}
	.logo-topo {
		color: #fff;
		font-size: 2.250em;
		font-weight: bold;
	}
		.logo-topo:hover {
			color: #fff;
		}
		.logo-topo span {
			color: #A94119;
		}

	.navbar-menu-topo li a.nav-link {
		color: #fff;
	}
		.navbar-menu-topo li a:hover, 
		a:visited, 
		a:active {
			color: #fff;
		}
	div.dropdown-menu > a.dropdown-item {
		color: #DC6133;
	}

/* ========= Carousel ========= */
.carousel-item {
	position: relative;
}
.carousel-style {
	position: absolute;
	top: 15%;
}
	.carousel-style h3 {
		color: #545454;
		font-size: 2.000em;
		font-weight: bold;
		text-align: left;
	}
	.carousel-style p {
		color: #676767;
		font-size: 1.125em;
		text-align: left;
	}
	.carousel-style button {
		float: left;
	}

/* ===============================================================================
Index Qualidades
================================================================================ */
.qualidade {
	padding: 50px 0;
}
	.qualidade span {
		color: #DC6133;
		font-size: 2.188em;
	}
	.qualidade h3 {
		color: #545454;
		font-size: 1.500em;
		font-weight: bold;
	}
	.qualidade p {
		color: #676767;
		font-size: 0.875em;
		padding: 10px 60px;
	}

/* ===============================================================================
Index Serviços
================================================================================ */
.bg-cinza {
	padding: 50px 0 140px 0;
	background-color: #F2F2F2;
}
	/* Serviços titulo top */
	.title-top h1, h2 {
		color: #545454;
		font-size: 1.625em;
		font-weight: 900;
	}
		.title-top h1 span, h2 span {
			color: #DC6133;
		}
	.title-top p {
		color: #626262;
		font: 0.875em;
		margin-bottom: 0;
		padding-bottom: 65px;
	}
	/* serviços */
	.servicos-section {
		height: min(290px);
		padding: 10px;
		border-radius: 15px;
		background-color: #fff;
	}
		.servicos-section span.i-style-top {
			color: #DC6133;
			font-size: 2.188em;
		}
		.servicos-section h3 {
			color: #545454;
			font-size: 1.125em;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.servicos-section p {
			color: #626262;
			font-size: 0.875em;
		}
		.servicos-section :nth-child(4) {
			margin-bottom: 40px;
		}
			.servicos-section p a {
				color: #DC6133;
				text-decoration: none;
			}
		/* .servicos-section button {
			color: #fff;
			border: 1px solid;
			border-radius: 50px;
			padding: 0.625em 1.250em;
			background: #DC6133;
		}
			.servicos-section button:hover {
				color: #DC6133;
				border-color: #DC6133;
				background-color: transparent;
			} */

		.btn-contabil button {
			color: #fff;
			border: 1px solid;
			border-radius: 50px;
			padding: 0.625em 1.250em;
			background: #DC6133;
		}
			.btn-contabil button:hover {
				color: #DC6133;
				border-color: #DC6133;
				background-color: transparent;
			}

/* ===============================================================================
footer
================================================================================ */
.footer-bg {
	padding: 32px 0 55px 0;
	background-color: #323232;
}
	.footer-bg h2 {
		color: #fff;
		font-size: 1.125em;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.footer-bg p {
		color: #fff;
		font-size: 0.875em;
		font-weight: lighter;
		line-height: 25px;
	}
		.footer-bg p a {
			color: #DC6133;
			text-decoration: none;
		}
	.footer-bg ul {
		padding: 0;
	}
		.footer-bg ul li {
			list-style: none;
			font-weight: 100;
		}
			.footer-bg ul li a {
				color: #fff;
				font-size: 0.875em;
				font-weight: lighter;
				text-decoration: none;
			}
	.redes-sociais span {
		padding-right: 10px;
	}
		.redes-sociais a {
			color: #fff;
			font-size: 22px;
		}
	.querosercliente span {
		color: #fff;
		padding-right: 5px;
	}

	.querosercliente a {
		color: #fff;
		font-size: 0.875em;
		text-decoration: none;
	}

.footer-direitos p {
	color: #333;
	font-size: 0.875em;
	margin: 0;
	padding: 13px 0;
}
/* ===============================================================================
==================================================================================
Sobre o contabil
==================================================================================
================================================================================ */
.margin-top-titulo-sobre {
	margin-top: 100px;
}
.contabilidade-servicos {
	padding: 15px 40px;
	border-radius: 15px;
	background-color: #F2F2F2;
}
	.contabilidade-servicos span {
		color: #DC6133;
		font-size: 3.000em;
	}
.bg-white-sobre-contabil {
	padding: 20px;
	background-color: #fff;
}

	.bg-white-sobre-contabil span {
		float: left;
		color: #DC6133;
		font-size: 2.813em;
    	padding: 11px 14px;
	}
	.bg-white-sobre-contabil h3 {
		color: #DC6133;
		font-size: 0.875em;
	}
	.bg-white-sobre-contabil p {
		color: #545454;
		font-size: 0.875em;
		line-height: 22px;
		margin: 0;
	}
.img-ceo img {
	float: right;
}
	.sobre-contabil-clientes p {
		color: #545454;
		margin-top: 15%;
	}
		.sobre-contabil-clientes p span {
			color: #DC6133;
		}
.carousel-cliente-body div {
	padding: 35px;
	border: 1px solid #C7C7C7;
	border-radius: 25px;
}
	.carousel-cliente-body div p {
		color: #545454;
		line-height: 25px;
		text-align: center;
	}
		.carousel-cliente-body div p span {
			color: #DC6133;
		}

div.carousel-cliente .carousel-control-prev-icon {
	background-image: url("img/arrow/arrow-left-solid.png");
}
div.carousel-cliente .carousel-control-next-icon {
	background-image: url("img/arrow/arrow-right-solid.png");
}

/* ===============================================================================
==================================================================================
preciso de um contador
==================================================================================
================================================================================ */
.bg-white {
	padding: 40px 150px;
	border-radius: 25px;
	background-color: #fff;
}
	label.control-label {
		color: #676767;
	}
	.bg-white input,
	.bg-white select {
		color: #676767;
		height: min(50px);
		border-radius: 20px;
	}
	.bg-white textarea {
		color: #676767;
		height: min(120px);
		border-radius: 20px;
	}
.btn-indicacao {
	float: right;
}

/* ===============================================================================
==================================================================================
abrir empresa
==================================================================================
================================================================================ */
p.abrir-empresa-p {
	color: #626262;
	font-size: 0.875em;
	margin: 0;
}
div.progress {
	height: 0.3rem;
}
	div.progress-bar {
		background-color: #DC6133;
	}
#etapas-abrir-empresa {
	color: #DC6133;
	font-size: 0.875em;
}
legend.h2-abrir-empresa {
	margin-bottom: 0;
}
.abrir-empresa-img img {
	padding-top: 30%;
}

/* ===============================================================================
==================================================================================
contato
==================================================================================
================================================================================ */
.h2-contato {
	color: #6B6B6B;
	font-size: 1.125em;
	font-weight: bold;
}
.enter-em-contato p {
	color: #676767;
	font-size: 0.875em;
}
	.enter-em-contato p span {
		color: #DC6133;
		padding-right: 15px;
		text-align: center;
	}